/* Declare fonts face */

@font-face {font-family: 'Roboto';src: url('/assets/fonts/policy/Roboto-Regular.ttf');}
@font-face {font-family: 'Roboto-Bold';src: url('/assets/fonts/policy/Roboto-Bold.ttf');}
@font-face {font-family: 'Roboto-Light';src: url('/assets/fonts/policy/Roboto-Light.ttf');}
@font-face {font-family: 'Roboto-Thin';src: url('/assets/fonts/policy/Roboto-Thin.ttf');}

/* Declare fonts variables */

$color-white: rgb(255, 255, 255);
$color-white-transparent: rgba(255, 255, 255, 0.80);
$color-grey: rgb(127, 140, 141);
$color-grey-transparent: rgba(108, 122, 137, 0.80);
$color-dark-grey: rgb(51, 51, 51);
$color-dark-grey-transparent: rgba(51, 51, 51, 0.05);
$color-black: rgb(0, 0, 0);
$color-primary: rgb(61, 201, 179);
$color-primary-transparent: rgba(61, 201, 179, 0.50);
$color-primary-dark: rgb(67, 176, 162);
$color-accent: rgb(255, 64, 129);